In [ ]:
# using numpy
import numpy as np

sizes = ['small', 'medium', 'large']


encoded_size = np.arange(len(sizes))

print(encoded_size)

[0 1 2]

In [ ]:
# using scikit learn

import numpy as np
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder()

sizes = ["small", "medium", "large"]
# reshape to 2D array
sizes = np.array(sizes).reshape(-1,1)

encoded = encoder.fit_transform(sizes)

print(encoded)

[[2.]
 [1.]
 [0.]]

Ordinal encoding is a preprocessing technique used for converting categorical data into numeric values that preserve their inherent ordering.

Ordinal encoding provides two key benefits:

A) Encoding categorical data into numeric forms that algorithms can understand.

B) Retaining the ordinal information between categories that is lost with one-hot encoding.

Ordinal encoding works by mapping each unique category value to a different integer. Typically, integers start at 0 and increase by 1 for each additional category.

one-hot encoding converts these to 3 binary columns without any implicit ordering. Ordinal encoding uses a single integer feature, keeping the data more compact.

In [14]:
import pandas as pd

df = pd.read_csv("CWC2023.csv")
df.head(4)

,Match_No,Team_1,Team_2,Venue,Toss,Choice,Innings1_Run,Innings1_Balls,Innings1_Wickets,Innings2_Run,Innings2_Balls,Innings2_Wickets,Winner,Margin_Runs_or_Wickets
0,1,New Zealand,United Kingdom,Ahemedabad,New Zealand,Ball,282,300,9,283,218,1,New Zealand,9W
1,2,Pakistan,Netherlands,Hyderabad,Netherlands,Ball,286,294,10,205,246,10,Pakistan,81R
2,3,Bangladesh,Afghanistan,Dharamshala,Bangladesh,Ball,156,224,10,158,208,4,Bangladesh,6W
3,4,South Africa,Sri Lanka,New Delhi,SriLanka,Ball,428,300,5,326,269,10,South Africa,102R

In [15]:
df['Choice'].value_counts

<bound method IndexOpsMixin.value_counts of 0     Ball
1     Ball
2     Ball
3     Ball
4      Bat
5     Ball
6     Ball
7      Bat
8      Bat
9     Ball
10    Ball
11    Ball
12    Ball
13     Bat
14    Ball
15    Ball
16     Bat
17    Ball
18     Bat
19    Ball
20    Ball
21     Bat
22     Bat
23     Bat
24     Bat
25     Bat
26    Ball
27     Bat
28    Ball
29    Ball
30     Bat
31    Ball
32    Ball
33     Bat
34    Ball
35    Ball
36     Bat
37    Ball
38     Bat
39     Bat
40    Ball
41     Bat
42    Ball
43     Bat
44     Bat
45     Bat
46     Bat
47    Ball
Name: Choice, dtype: object>

In [16]:
df['Venue'].value_counts

<bound method IndexOpsMixin.value_counts of 0      Ahemedabad
1       Hyderabad
2     Dharamshala
3       New Delhi
4         Chennai
5       Hyderabad
6     Dharamshala
7       Hyderabad
8       New Delhi
9         Lucknow
10        Chennai
11     Ahemedabad
12      New Delhi
13        Lucknow
14    Dharamshala
15        Chennai
16           Pune
17      Bengaluru
18        Lucknow
19         Mumbai
20    Dharamshala
21        Chennai
22         Mumbai
23      New Delhi
24      Bengaluru
25        Chennai
26    Dharamshala
27        Kolkata
28        Lucknow
29           Pune
30        Kolkata
31           Pune
32         Mumbai
33        Lucknow
34      Bengaluru
35     Ahemedabad
36        Kolkata
37      New Delhi
38         Mumbai
39           Pune
40      Bengaluru
41     Ahemedabad
42           Pune
43        Kolkata
44      Bengaluru
45         Mumbai
46        Kolkata
47     Ahemedabad
Name: Venue, dtype: object>

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
label_encoder = LabelEncoder()

In [21]:
df['Category_OrdinalEncoded'] = label_encoder.fit_transform(df['Choice'])

print(df['Category_OrdinalEncoded'])

0     0
1     0
2     0
3     0
4     1
5     0
6     0
7     1
8     1
9     0
10    0
11    0
12    0
13    1
14    0
15    0
16    1
17    0
18    1
19    0
20    0
21    1
22    1
23    1
24    1
25    1
26    0
27    1
28    0
29    0
30    1
31    0
32    0
33    1
34    0
35    0
36    1
37    0
38    1
39    1
40    0
41    1
42    0
43    1
44    1
45    1
46    1
47    0
Name: Category_OrdinalEncoded, dtype: int64

In [22]:
df['Category_OrdinalEncoded'] = label_encoder.fit_transform(df['Venue'])

print(df['Category_OrdinalEncoded'])

0     0
1     4
2     3
3     8
4     2
5     4
6     3
7     4
8     8
9     6
10    2
11    0
12    8
13    6
14    3
15    2
16    9
17    1
18    6
19    7
20    3
21    2
22    7
23    8
24    1
25    2
26    3
27    5
28    6
29    9
30    5
31    9
32    7
33    6
34    1
35    0
36    5
37    8
38    7
39    9
40    1
41    0
42    9
43    5
44    1
45    7
46    5
47    0
Name: Category_OrdinalEncoded, dtype: int64